/node_modules
.env
.DS_Store
dist
coverage
npm-debug.log
yarn-error.log
.vscode
.idea
*.log
*.tsbuildinfo
.env.local
.env.development.local
.env.test.local
.env.production.local
.cache
.next
/out
/serviceAccount.json